<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>	
	<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
	
	<script src="js/jquery-2.1.4.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/controllers.js"></script>	
	
	<title>Restful Authentication with NodeJS & AngularJS</title>
	
	<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover(); 
			alert('ghjghj');
		});
	</script>
	
	
    <style>
        body {
            padding-top: 10px;
            padding-bottom: 40px;
            background-color: #eee;
        }
    </style>
</head>
<!--<span data-toggle="popover" data-trigger="hover" title="Popover Header" data-content="Some content inside the popover" >gfdgfd</span>-->
<body ng-app="angularRestfulAuth" ng-controller="HomeCtrl">
	<div class="container"  >
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						    <div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <a class="navbar-brand" href="#/PageUsers/1">Main</a>
							</div>
							
							 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="#">Link</a></li>
									<li class="dropdown">
									  <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											Dropdown <span class="caret"></span>
										</a>
									  <ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
									  </ul>
									</li>
								</ul>
								
								
								<form ng-hide="token || registr" class="navbar-form navbar-right" role="search">
									<div class="form-group">
									  <input type="text" class="form-control" placeholder="email" name='email' ng-model='email'>
									  <input type='text' class="form-control" placeholder="password" name='password' ng-model='password' />
										<a  class="btn btn-default" ng-click="login()">Войти</a>
										<a  class="btn btn-default btn-xs btn-warning" ng-click="registr=1">Регистрация</a>
									</div>
								</form>
								<form ng-hide="token || !registr" class="navbar-form navbar-right" role="search">
									<div class="form-group">
									  <input type="text" class="form-control" placeholder="email" name='email' ng-model='email'>
									  <input type='text' class="form-control" placeholder="password" name='password' ng-model='password' />
										<a  class="btn btn-default" ng-click="signin()">Зарегистрироваться</a>
										<a  class="btn btn-default btn-xs btn-warning" ng-click="registr=null">Вход</a>
									</div>
								</form>
								
								<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
									<ul ng-show="token" class="nav navbar-nav">
										<li class="dropdown">
										  <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												{{CurrentUser.email}} <span class="caret"></span>
											</a>
										  <ul class="dropdown-menu">
											<li><a href="#/me">Профиль</a></li>
											<li><a href="#" ng-click="logout()" >Выход</a></li>
										  </ul>
										</li>
									</ul>	
								</div>	
							</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div ng-view="">

				</div>
			</div>				
		</div>			
	</div>

		<!--<div ng-controller="HomeCtrl">-->
			<!-- текущий пользователь (из токена)-->
			<!--<div ng-show="token" style="border:1px solid green;">
				Ваши данные:
				<span >email - {{CurrentUser.email}}</span><br />
				<span >pass - {{CurrentUser.password}}</span><br />
				<a ng-click="getme()"  ng-href="#/me">-Me</a><br />
				<a ng-click="logout()">-Logout</a>
			</div>

			<div ng-hide="token || registr" style="border:1px solid green;">
				<b>Войти</b><br />
			   email<input type='text' name='email' ng-model='email' /><br />
			   pass<input type='text' name='password' ng-model='password' />
			   <div ng-hide="token"><span ng-click="login()">login</span></div>
			 <span ng-click="registr=1">регистрация</span><br />  
	
			</div>
			<div ng-hide="token || !registr" style="border:1px solid green;">
				<b>Регистрация</b><br />
			   email<input type='text' name='email' ng-model='email' /><br />
			   pass<input type='text' name='password' ng-model='password' />
			   <div ng-hide="token"><span ng-click="signin()">Signin</span></div>				
				<span ng-click="registr=null">вход</span><br /> 

				
			</div>			
-->
		   <!--<div ng-hide="token"><span ng-click="AllUsers()">AllUsers</span></div>-->


                    <li><a ng-href="#/">-Home</a></li>
                    <!--<li ><a ng-click="getme()"  ng-href="#/me">-Me</a></li>-->
					<li ><a  ng-href="#/AllUsers">AllUsers</a></li>
					<li ><a  ng-href="#/PageUsers/1">PageUsers</a></li>
					<li ><a  ng-href="#/SaveFile">savefile</a></li>
					<li ><a  ng-href="#/watch_examlpe">watch_examlpe</a></li>
					
                    

           <!-- </div>-->
 <!-- /container -->			
						   
						  <!-- <div>
								<div>email - {{user.email}}</div>
								<div>password - {{user.password}}</div>
								<div>token - {{user.token}}</div>
								<div>localStorage.token - {{tokenll}}</div>
								<div>user - {{user}}</div>
						   </div>	-->						   
						   
	   
	   <!--<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Angular Restful Auth</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/">Home</a></li>
                    <li data-ng-show="token"><a ng-href="#/me">Me</a></li>
                    <li data-ng-hide="token"><a ng-href="#/signin">Signin</a></li>
                    <li data-ng-hide="token"><a ng-href="#/signup">Signup</a></li>
                    <li data-ng-show="token"><a ng-click="logout()">Logout</a></li>
                </ul>
            </div> 
        </div>-->
    </div>
	
	
</body>
</html>