chat1.html 

<div class="row">
	-----
	<p>id Пользователя которого встретил</p>
	<input ng-model="id_meeted" ng-click="MeetUser()" />
	<button ng-click="MeetUser()" >встретить</button><br />
<button ng-click="updateChats()" />обновить чаты</button>

	<div class="col-md-12" ng-repeat="chat in chats">
		<span>user.email-{{chat.email}} user.id-{{chat.id}} user.id_chat-{{chat.id_chat}} user.col_us-{{chat.col_us}} </span>
	</div>
	------
</div>

<br />

<ul class="pagination row col-md-12" id="pager">
  <li class="{{(currentPageNum ==1)?'disabled':'' }}" ><a href="#Chat/1"><<</a></li>
	<li class="{{(currentPageNum ==1)?'disabled':'' }}" >
		<a ng-show="currentPageNum > 1" href="#Chat/{{currentPageNum-1}}"><</a>
		<span ng-show="currentPageNum < 2" ><</span>
	</li>
	<li ng-show="pages[0].num < pagesShow[0].num" >
		<span >...</span>
	</li>	
  <li ng-repeat="page in pagesShow" class="{{(page.num ==currentPageNum)?'active':'' }}" ><a href="#Chat/{{page.num}}">{{page.num}}</a></li>
	<li ng-show="pages[pages.length-1].num > pagesShow[pagesShow.length-1].num" >
		<span >...</span>
	</li>	  
   <li class="{{(currentPageNum ==pages.length)?'disabled':'' }}"  >
	<a ng-show="currentPageNum < pages.length" href="#Chat/{{(currentPageNum-1)+2}}">></a>
	<span ng-show="currentPageNum > (pages.length-1)" >></span>
  </li>
  <li class="{{(currentPageNum ==pages.length)?'disabled':'' }}" ><a href="#Chat/{{pages.length}}">>></a></li>
</ul>


			
<!---->
token - {{token}}

<div class="row">
<div ng-show="err" class="col-md-12" >{{err}}</div>
<textarea ng-model="myMess" /></textarea>
<button ng-click="saveMess()" />сохранить</button>
<div>
	<div class="col-md-10">
		<div ng-repeat="mess in messages">
				<div>
					<img popover-el="{ title:'user id - {{mess.user.id}}' ,content: 'user email - {{mess.user.email}}', placement: 'right'}"  
						class="popo"  width="250px" ; style="height:250px;" src="{{mess.user.foto}}"  
						data-toggle="popover" data-trigger="hover"    />		
					{{mess.id}}-{{mess.text}}
				</div>
				<!--<img popover-el="{ title:'user id - {{user.id}}' ,content: 'user email - {{user.email}}', placement: 'right'}"  class="popo"  width="250px" ; style="height:250px;" src="{{user.foto}}"  data-toggle="popover" data-trigger="hover"    />-->
		</div>
	</div>
	
	<div class="col-md-2">
		<div ng-repeat="mychat in mychats" ng-click="ChangeChat(mychat.id_chat)">
			{{mychat.id_chat}}-			
			{{mychat.name}}-
			{{mychat.active}}-
		</div>
	</div>
</div>
</div>