PageUsers.html numUssers - {{numUssers}}

<br />
<!--
<div class="row col-md-12">
<span ng-repeat="page in pages">
	<!--<span ng-click="GetUsers(page.beg,page.end)">{{page.num}}</span><!--page.beg,beg.end-->
	<!--<a  href="#PageUsers/{{page.num}}"> {{page.num}}</a>
</span>
</div>-->


<ul class="pagination row col-md-12">
  <li class="{{(currentPageNum ==1)?'disabled':'' }}" ><a href="#PageUsers/1"><<</a></li>
	<li class="{{(currentPageNum ==1)?'disabled':'' }}" >
		<a ng-show="currentPageNum > 1" href="#PageUsers/{{currentPageNum-1}}"><</a>
		<span ng-show="currentPageNum < 2" ><</span>
	</li>
	<li ng-show="pages[0].num < pagesShow[0].num" >
		<span >...</span>
	</li>	
	
  <li ng-repeat="page in pagesShow" class="{{(page.num ==currentPageNum)?'active':'' }}" ><a href="#PageUsers/{{page.num}}">{{page.num}}</a></li>
	
	<li ng-show="pages[pages.length-1].num > pagesShow[pagesShow.length-1].num" >
		<span >...</span>
	</li>	  
  
  <li class="{{(currentPageNum ==pages.length)?'disabled':'' }}"  >
	<a ng-show="currentPageNum < pages.length" href="#PageUsers/{{(currentPageNum-1)+2}}">></a>
	<span ng-show="currentPageNum > (pages.length-1)" >></span>
	

	
  </li>
  <li class="{{(currentPageNum ==pages.length)?'disabled':'' }}" ><a href="#PageUsers/{{pages.length}}">>></a></li>
</ul>


<!--https://amitgharat.wordpress.com/2013/02/03/an-approach-to-use-jquery-plugins-with-angularjs/
http://itchief.ru/lessons/bootstrap-3/99-bootstrap-3-popovers
<!--https://code.google.com/p/resize-crop/ -->
<div class="row">
<div class="col-md-3" ng-repeat="user in UsersOnPage">
<a href="#" class="img-thumbnail"  >
	<!--<div>id - {{user.id}}</div>
	<div>emailA - {{user.email}}</div>
	<div>passwordA - {{user.password}}</div>
	<div>tokenA - {{user.token}}</div>-->
	<!--<div>foto - {{PathToNode+user.foto}}</div>-->
	<!--<div title="{{user.id}} - {{user.email}}"  style="width;300px ; min-height:300px; background-image: url({{user.foto}});"    /><!--style="width;100px ; height:100px;"-->
		
		<!--<img  class="popo" title="{{user.id}} - {{user.email}}"  width="250px" ; style="height:250px;" src="{{user.foto}}"  data-toggle="popover" data-trigger="hover" title="Popover Header" data-content="Some content inside the popover"   /><!--style="width;100px ; height:100px;"  class="img-thumbnail"-->
		<img popover-el="{ title:'user id - {{user.id}}' ,content: 'user email - {{user.email}}', placement: 'right'}"  class="popo"  width="250px" ; style="height:250px;" src="{{user.foto}}"  data-toggle="popover" data-trigger="hover"    />
</a>
</div>
</div>