saveFile.html
<form method="post" enctype="multipart/form-data" action="/file-upload">
<!--<input type="file" ng-model="model.file" change="upload(model)" />-->
<input id="myfiles" multiple type="file"><!---->
<!--<input id="myfiles" name="thumbnail" type="file">-->

<!--
<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
-->

<!--<
<input type="file" id="uploadFile" ng-model="upFile" 
onchange="angular.element(this).scope().setFile(this)" />-->


<span ng-click="savefile()">savefile</span>
</form>